---
apiVersion: v1
kind: Service
metadata:
  name: mw-backend-service
  labels:
    app: mw-backend
spec:
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: mw-backend
