apiVersion: v1
kind: Service
metadata:
  name: mw-frontend-service
  labels:
    app: mw-frontend
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: mw-frontend
